## 3 persone saldo maggiore

In [56]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pandasql import sqldf
def pysqldf(q): return sqldf(q, globals())


s1 = pd.read_csv("movimenti.csv", sep=";")
s1.groupby(["cognome","nome"]).sum(["importo"]).sort_values("importo",ascending=False).head(3)

                   importo
cognome  nome
Hunziker Michelle   964038
Cracco   Carlo      596540
Mauro    Massimo    543466

## 3 persone saldo minore

In [57]:
s1.groupby(["cognome","nome"]).sum(["importo"]).sort_values("importo",ascending=True).head(3)

                   importo
cognome   nome
Frassica  Nino    -1510579
Forest    Mago    -1461235
Pappagone Gaetano -1020620

## Importo movimentato totale movimentato per ciascun anno

In [58]:
year = pd.DatetimeIndex(s1["data"]).year
s1.groupby(year).sum("importo")

      importo
data
2000  -566590
2001  -777694
2002 -2309291
2003 -3797983
2004  -369603
2005  -700867
2006  -747417
2007 -1770298
2008 -1016101
2009 -1076864
2010 -1411229
2011 -1485210
2012  -495176
2013   383456
2014 -1135507
2015  -313765
2016   368199
2017 -1336761
2018 -3037119
2019 -1153415
2020 -1140018
2021   215311
2022  -152154

## Elencare le operazioni al di sopra di 50000€

In [59]:
s1[s1["importo"]>50000]

        cognome      nome                 data  importo
2087     Cracco     Carlo  2000/02/04 17:05:58    92937
3135   Hunziker  Michelle  2000/02/26 01:06:28   452022
3529   Hunziker  Michelle  2000/03/04 00:27:51    55290
8893   Hunziker  Michelle  2000/06/11 01:57:46    53240
38918  Hunziker  Michelle  2001/12/27 04:16:00    55231
39160  Hunziker  Michelle  2001/12/31 01:07:49    69879

## Operazioni sospette

In [60]:
importoMaggiore = pd.DataFrame(s1.groupby(["cognome", "nome"]).sum(["importo"]).sort_values(
    "importo", ascending=False).head(1)).reset_index() [["cognome","nome"]]

transazioniImportoMaggiore = s1[(s1["cognome"] == importoMaggiore["cognome"].item()) & (
    s1["nome"] == importoMaggiore["nome"].item())]

mediaImporto = transazioniImportoMaggiore.groupby(["nome","cognome"]).mean(["importo"])

importoMedio = mediaImporto.head().reset_index()["importo"].items()

transazioniSospette = transazioniImportoMaggiore[transazioniImportoMaggiore["importo"].item() > importoMedio]

transazioniSospette

ValueError: can only convert an array of size 1 to a Python scalar

# Dati pagina
## Riordinare i dati

In [ ]:

s2 = pd.read_html("https://it.wikipedia.org/wiki/Comuni_d%27Italia_per_popolazione")[0].rename(
    columns={"Comune": "Comune", "Regione": "Regione", "Provincia / Città metropolitana": "Provincia", "Abitanti": "Abitanti"})
s2["Abitanti"] = s2["Abitanti"].str.replace("\s+","").astype("int");

pysqldf("select Regione,Provincia,Provincia,Abitanti from s2")

c:\Users\User\Desktop\CorsoIts\BigData\jupyter\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

       Regione Provincia Provincia  Abitanti
0        Lazio      Roma      Roma   2757870
1    Lombardia    Milano    Milano   1373410
2     Campania    Napoli    Napoli    909048
3     Piemonte    Torino    Torino    844056
4      Sicilia   Palermo   Palermo    626320
..         ...       ...       ...       ...
135    Sicilia   Trapani   Trapani     50044
136    Toscana   Firenze   Firenze     49841
137   Campania    Napoli    Napoli     49813
138   Campania   Caserta   Caserta     49784
139   Campania   Salerno   Salerno     49454

[140 rows x 4 columns]

## Mostrare il numero di comuni per ciascuna regione e odinarle in ordine alfabetico

In [ ]:
pysqldf("select Regione,count(Comune) from s2 group by Regione order by Regione")

                  Regione  count(Comune)
0                 Abruzzo              4
1              Basilicata              2
2                Calabria              6
3                Campania             18
4          Emilia-Romagna             13
5   Friuli-Venezia Giulia              3
6                   Lazio             11
7                 Liguria              4
8               Lombardia             14
9                  Marche              3
10               Piemonte              6
11                 Puglia             14
12               Sardegna              4
13                Sicilia             15
14                Toscana             13
15    Trentino-Alto Adige              2
16                 Umbria              3
17                 Veneto              5

## Mostrare il numero di comuni per ciascuna regione e odinarle per numero di comuni

In [ ]:
pysqldf("select Regione,count(Comune) as numero_comuni from s2 group by Regione order by numero_comuni desc")

                  Regione  numero_comuni
0                Campania             18
1                 Sicilia             15
2                  Puglia             14
3               Lombardia             14
4                 Toscana             13
5          Emilia-Romagna             13
6                   Lazio             11
7                Piemonte              6
8                Calabria              6
9                  Veneto              5
10               Sardegna              4
11                Liguria              4
12                Abruzzo              4
13                 Umbria              3
14                 Marche              3
15  Friuli-Venezia Giulia              3
16    Trentino-Alto Adige              2
17             Basilicata              2

## Mostrare il numero di comuni per ciascuna regione e provincia

In [ ]:
pysqldf("select Regione,Provincia,count(Comune) as numero_comuni from s2 group by Regione, Provincia order by numero_comuni desc")

      Regione              Provincia  numero_comuni
0    Campania                 Napoli             11
1       Lazio                   Roma              8
2   Lombardia                 Milano              4
3      Puglia                   Bari              4
4      Puglia  Barletta-Andria-Trani              4
..        ...                    ...            ...
79     Veneto                 Padova              1
80     Veneto                Treviso              1
81     Veneto                Venezia              1
82     Veneto                 Verona              1
83     Veneto                Vicenza              1

[84 rows x 3 columns]

# Mostrare il numero di abitanti per ciascuna regione

In [64]:
pysqldf("select Regione, sum(Abitanti) as NumeroAbitanti from s2 group by Regione order by NumeroAbitanti desc")

                  Regione  NumeroAbitanti
0                   Lazio         3467666
1               Lombardia         2529393
2                Campania         2062077
3                 Sicilia         1919624
4          Emilia-Romagna         1895708
5                 Toscana         1456748
6                  Puglia         1415576
7                Piemonte         1222159
8                  Veneto          914472
9                 Liguria          762571
10               Calabria          518555
11               Sardegna          397779
12  Friuli-Venezia Giulia          349482
13                 Umbria          325142
14                Abruzzo          293447
15                 Marche          253746
16    Trentino-Alto Adige          225186
17             Basilicata          124485